html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  background-color: #0B172D;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: auto !important;
}

.big-text {
  position: relative;
}

.co, .de, .crafter {
  font-family: "Montserrat";
  font-size: 290px;
  line-height: 290px;
  font-style: normal;
  font-weight: 700;
}

.co {
  color: transparent;
  text-shadow: 0px 0px 128px rgba(255, 255, 255, 0.75);
  -webkit-text-stroke: 2px #fff;
}

.de {
  color: #59118A;
}

.crafter {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 4px rgba(255, 255, 255, 0.1);
}

.hero {
  padding: 16px;
  text-align: center;
  padding: 0;
}
.hero-img {
  background-image: url(hero-avatar.png);
  background-position: bottom;
  background-size: 500px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.smoother {
  background: linear-gradient(180deg, transparent 73.16%, #0B172D 100%);
  height: 100%;
}

@media (min-width: 901px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media (max-width: 900px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .co, .de, .crafter {
    font-size: 64px;
    line-height: 64px;
  }
  .co, .de {
    font-size: 86px;
    line-height: 86px;
  }
  .crafter {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
  }
  .hero-img {
    display: none;
  }
  .hero-img__mobile {
    background: linear-gradient(180deg, transparent 73.16%, #0B172D 100%);
  }
  .hero-img__mobile img {
    width: 100%;
    position: relative;
    z-index: -1;
    display: block;
  }
}
.btn {
  border-radius: 8px;
  padding: 8px 24px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Roboto Slab";
  font-size: 18px;
  transition: all 0.5s ease 0s;
  display: inline-block;
}
.btn-white {
  background: #fff;
  color: #0B172D;
  box-shadow: 0px 0px 32px 0px rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
}
.btn-white:hover {
  box-shadow: none;
  background: #0B172D;
  color: #fff;
}
.btn-violet {
  background: #59118A;
  color: #fff;
  box-shadow: 0 0 32px 0 #59118A;
  border: 2px solid #59118A;
}
.btn-violet:hover {
  box-shadow: none;
  background: #0B172D;
  color: #fff;
  border: 2px solid #fff;
}
.btn-outline {
  border: 2px solid #fff;
  color: #fff;
}
.btn-outline:hover {
  box-shadow: 0 0 32px 0 #59118A;
  background: #fff;
  color: #0B172D;
}

select {
  background: none;
  font-weight: bold;
  font-family: "Roboto Slab";
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
select option {
  color: #0B172D;
}

.section {
  padding: 64px 0;
}
.section-title {
  font-weight: bold;
  font-size: 64px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  margin-top: 0;
}
.section-title::first-letter {
  color: #fff;
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 0px;
}

.portfolio {
  margin-bottom: 32px;
}
.portfolio:hover > .portfolio-content .portfolio-img {
  transform: scale(1.03);
  filter: grayscale(1);
}
.portfolio-content {
  border-radius: 8px;
  background: #261042;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 22px;
  padding-left: 16px;
  padding-right: 16px;
}
.portfolio-title {
  margin: 16px 0;
  display: inline-block;
  font-weight: 400;
}
.portfolio-img {
  border-radius: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -16px;
  width: 100%;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}
.portfolio-stack {
  margin-bottom: 16px;
}
.portfolio-stack__item {
  background-color: #0B172D;
  color: #fff;
  font-size: 16px;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 8px;
  font-family: monospace;
}
.portfolio-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
  text-align: center;
  margin-left: 16px;
  margin-top: -21px;
}

.text-center {
  text-align: center;
}

.footer {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 16px;
}

.box {
  background: #fff;
  color: #0B172D;
  padding: 32px;
  border-radius: 8px;
  font-family: "Montserrat", "Ubuntu", "Roboto Slab", sans-serif;
}

.social-link {
  display: inline-block;
}
.social-link img {
  width: 32px;
  margin: 0 8px;
}

.input {
  outline: none;
  font-size: 16px;
  font-family: "Ubuntu", "Roboto Slab", sans-serif;
  padding: 0 8px;
  line-height: 40px;
  background-color: rgba(89, 17, 138, 0.1);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
  border: none;
  color: #0B172D;
}
.input:hover, .input:active {
  background-color: rgba(89, 17, 138, 0.15);
}

.contact-form {
  display: table;
  overflow: hidden;
  border-radius: 8px;
  vertical-align: middle;
}
.contact-form div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}
.contact-form div .input {
  width: 100%;
  vertical-align: middle;
  border-radius: 8px 0 0 8px;
}
.contact-form button {
  border-radius: 4px 8px 8px 4px;
}
.contact-form button:hover {
  border: 2px solid #0B172D;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
}
.header.on-scroll {
  background: #0B172D;
  box-shadow: var(--shadow-medium);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--color-white-100);
  text-transform: uppercase;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  overflow: hidden;
  background-color: #59118A;
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}
.menu.is-active {
  top: 0;
  width: 100%;
  height: auto;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-white-100);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-blue-600);
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: 0 auto;
  }
  .menu-link {
    text-transform: capitalize;
  }
  .menu-block {
    margin-left: 2rem;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  order: -1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: #fff;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}/*# sourceMappingURL=styles.css.map */